:root {
    color-scheme: light dark;
    --light-green: #39f792d3;
    --dark-green: #05a910d3;
    --yellow: #daaf38;
    --red: #e91a2e;
    --black: #333;
    --white: #f0f0f0;
    --light-gray: #aaa;
    --dark-gray: #555;
    font-size: 16px;
    font-family: monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: light-dark(var(--white), var(--black));
    display: grid;
    justify-content: center;
    padding: 2.5% 5%;
}

section {
    max-width: 600px;
}

#settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: light-dark(var(--light-gray), #222);
    margin: 0 auto;
    padding: 0.25em 1em;
    border-radius: 0.5em;
}

#settings > div.spacer {
    height: auto;
    width: 0.25em;
    margin: 0 1em;
    background-color: var(--black);
}

#settings > div > button,
#settings > nav > button {
    background-color: transparent;
    border: none;
    font-family: monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--light-gray);
    cursor: pointer;
    font-size: 1.0125em;

    &.active {
        color: var(--yellow) !important;
    }

    &:hover {
        color: white;
    }
}

#game {
    gap: 2em;
}

#game > main {
    font-size: 1.25em;
}

#game > main > time {
    color: var(--yellow);
}

#game > main > p {
    margin: 0.5em 0 0;
    text-align: left;
    line-height: 1.25em;
}

#game > main > input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    opacity: 0;
    pointer-events: none;
}

my-word {
    position: relative;
    display: inline-block;

    &.marked::before {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 1.5px;
        background-color: var(--red);
    }
}

my-letter {
    color: light-dark(var(--dark-gray), var(--light-gray));
    position: relative;
    &.current::before {
        content: '|';
        position: absolute;
        left: -55%;
        color: var(--yellow);
        animation: blink 1s infinite;
    }

    &.current.is-last::before {
        left: 65%;
    }

    &.correct {
        color: light-dark(var(--dark-green), var(--light-green));
    }

    &.incorrect {
        color: var(--red);
    }
}

@keyframes blink {
    0%, 25% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
}

#result {
    display: flex;
    flex-direction: column;
    text-justify: left;
    font-size: 1.5em;
}

#result > h2 {
    margin: 0;
    color: var(--yellow);
}

#result > p {
    margin: 0.5em 0 0;
}

#result > button {
    display: inline-block;
    margin: 2em auto 0;
    padding: 0.5em 2em;
    background-color: var(--yellow);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.15s ease-in, transform 0.3s ease-in;

    &:hover {
        opacity: 1;
        scale: 110%;
    }
}